
.navbar-brand img {
    height: 60px;
}

.nav-item a:hover {
    background-color: #00000050;
}
.vh-50 {
    height: 50vh;
}

.header {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(/img/hero-img.jpg);
}