.a-none {
    text-decoration: none !important;
    transition: all 0.3s !important;
    &:hover {
        text-decoration: underline !important;
        color: dodgerblue !important;
    }
}


* {
    scroll-margin-top: 8ch !important;
}