.a-none {
    text-decoration: none !important;
    transition: all 0.3s !important;
    &:hover {
        text-decoration: underline !important;
        color: dodgerblue !important;
    }
}


* {
    scroll-margin-top: 8ch !important;
}

.caja img {
    transition: all 0.2s;
    &:hover {
        transform: scale(1.10);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
    }
}